/*formulario de login*/
.container {
    height: 100vh;
}

.form, .singin-form {
    max-width: 512px;
    width: 100%;
    background-color: #272727;
}

.title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #51c120;
}

.label-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.enter-text {
    border: 1px solid #5a5a5a;
    height: 47px;
    padding: 0.5rem;
    background-color: #272727;
    color: #5a5a5a;
    font-weight: 700;
}

.enter-text::placeholder {
    color: #5a5a5a;
    font-weight: 700;
}

.enter-text:focus {
    border-color: #51c120; 
    outline: none; 
    box-shadow: 0 0 0 2px rgba(81, 194, 32, 0.4);
    background-color: #272727;
    color: #5a5a5a;
}

.connect-check {
    background-color: #232221;
    border: 1px solid #5a5a5a;
}

.connect-label {
    font-size: 1rem;
    font-weight: 600;
    color: #5a5a5a;
}

.forgot, .singin-link {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.forgot:hover, .singin-link:hover {
    color: #51c120;
}

.send {
    height: 47px;
    background-color: #51c120;
    color: #272727;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.send:hover {
    background-color: #51c120;
    color: #ffffff;
}

.link-retrieve {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1rem;
}

.span-form {
    color: #5a5a5a;
    margin-right: 5px;
    font-weight: 600;
}

.box-retrieve {
    text-align: center;
    margin-bottom: 1.5rem;
}

.singin {
    font-size: 0.875rem;
}

/*estilização home page*/

body {
    background-color: #232221;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
}

.logo {
    height: 290px;
    margin-left: 20px;
}

.header {
    height: 80px;
    background-color: #5a5a5a;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.user-info span{
    color: #51c120;
    font-weight: 500;
    margin-right: 10px;
}

#username {
    color: #51c120;
    font-weight: 700;
}

.logout-btn {
    background-color: #51c120;
    color: #232221;
    border: none;
    font-weight: 550;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #3e9a18;
}

.menu {
    color: #51c120;
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 16px; 
    background-color: #272727;
    width: 300px; 
    display: inline-block; 
    font-weight: 700;
    border: 1px solid #5a5a5a; 
}

.menu-titulo {
    color: #51c120;
    margin-bottom: 10px; 
    font-weight: 700;   
    font-family: 'Montserrat', Arial, sans-serif;
}

.menu-btn {
    background-color: #272727;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #5a5a5a; 
    text-align: left; /* Alinhamento do texto dos botões à esquerda */
    padding-left: 15px; /* Alinhamento à esquerda */
}

.menu-btn:hover {
    background-color: #3e9a18;
}

/* Layout de flexbox para garantir que o menu e os planos fiquem lado a lado */
.row {
    display: flex;
    align-items: flex-start;
}


/* Ajustes na div de planos */
.planos {
    background-color: #272727;
    border-radius: 10px;
    padding: 20px;
    margin-top: 16px;
    border: 1px solid #5a5a5a; /* Borda na área de planos */

}

.planos h3 {
    color: #51c120;
    font-weight: 700;
    margin-bottom: 15px; /* Ajustando o espaço abaixo do título */
}

.criar-plano-btn {
    background-color: #5a5a5a;
    color: #51c120;
    border: 1px solid #51c120;
    font-weight: 700;
    transition: background-color 0.3s ease;
    width: auto;
    margin-top: 5px; 
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px 30px;
}

.criar-plano-btn:hover {
    background-color: #3e9a18;
    color: #ffffff;
}

.plano {
    background-color: #272727;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #5a5a5a; 
}

.plano h5 {
    color: #51c120;
    font-weight: 600;
    margin-bottom: 10px;
}

.plano p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 10px;
}

.detalhes-btn {
    background-color: #51c120;
    border: none;
    font-weight: 700;
}

.detalhes-btn:hover {
    background-color: #3e9a18;
}

/* Responsividade */
@media (max-width: 576px) {
    .header img {
        height: 100px;
    }

    .menu, .planos {
        padding: 10px;
    }

    h3, h4, h5 {
        font-size: 1rem;
    }
}
